<div class="nav-bar">
  <div>
    <a class="accueil" routerLink="/homepage"><img src="../assets/accueil.png" alt="">
      <h1> Title </h1>
    </a>
  </div>
  <ul>
    <a routerLink="/homepage">
      <li>Acceuil</li>
    </a>
    <a routerLink="/imccalculator">
      <li>IMC calculator</li>
    </a>
    <a routerLink="/todolist">
      <li>To do list</li>
    </a>
    <a routerLink="/formulaire">
      <li>Formulaire</li>
    </a>

  </ul>
  <div class="icon">
    <a href=""><img src="../assets/github.png" alt="iconGithub"></a>
    <a href=""><img src="../assets/linkedin.png" alt="iconLinkedin"></a>
    <a href=""><img src="../assets/twitter.png" alt="iconTwitter"></a>
  </div>
</div>
