<form [formGroup]="resultat" (ngSubmit)="onClick()">
  <label>Civilité</label>
  <div class="form-group" >
    <select class="form-control" formControlName="civilite">
      <option value="Monsieur">Monsieur</option>
      <option value="Madame">Madame</option>
      <option value="Autre">Autre</option>
    </select>
  </div>

  <div class="form-group">
    <label>Nom</label>
    <input class="form-control" formControlName = "nom" type="text">
  </div>

  <div class="form-group">
    <label>Prénom</label>
    <input class="form-control" formControlName = "prenom" type="text">
  </div>

  <div class="form-group">
    <label>Date de naissance</label>
    <input class="form-control" formControlName = "birthday" type="date">
  </div>

  <div class="form-group">

    <label>Email</label>
    <input class="form-control" formControlName = "email" type="text">
  </div>

  <div class="form-group">
    <label>Commentaire</label>
    <textarea class="form-control" formControlName = "commentaire" name="Commentaire" id="" cols="50" rows="10"></textarea>
  </div>

  <button type="submit">Envoyé</button>
</form>
