.containeur {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1440px;
  flex-wrap: wrap
}

.card {
  display: flex;
  flex-direction: column;
  margin: 15px;
}
